In [25]:
import sidrapy 
import pandas as pd

In [ ]:
pip install sidrapy

Requirement already satisfied: sidrapy in c:\users\55819\appdata\local\programs\python\python311\lib\site-packages (0.1.4)
Requirement already satisfied: requests in c:\users\55819\appdata\local\programs\python\python311\lib\site-packages (from sidrapy) (2.32.3)
Requirement already satisfied: pandas in c:\users\55819\appdata\local\programs\python\python311\lib\site-packages (from sidrapy) (2.2.3)
Requirement already satisfied: numpy>=1.23.2 in c:\users\55819\appdata\local\programs\python\python311\lib\site-packages (from pandas->sidrapy) (2.1.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\55819\appdata\local\programs\python\python311\lib\site-packages (from pandas->sidrapy) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\55819\appdata\local\programs\python\python311\lib\site-packages (from pandas->sidrapy) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\55819\appdata\local\programs\python\python311\lib\site-packages (from pandas->sidrapy) (2025.1)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\55819\appdata\local\programs\python\python311\lib\site-packages (from requests->sidrapy) (3.4.1)
Requirement already satisfied: idna<4,>=2.5 in c:\users\55819\appdata\local\programs\python\python311\lib\site-packages (from requests->sidrapy) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\55819\appdata\local\programs\python\python311\lib\site-packages (from requests->sidrapy) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\55819\appdata\local\programs\python\python311\lib\site-packages (from requests->sidrapy) (2025.4.26)
Requirement already satisfied: six>=1.5 in c:\users\55819\appdata\local\programs\python\python311\lib\site-packages (from python-dateutil>=2.8.2->pandas->sidrapy) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.1.2 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [38]:
df_sem_tratamento = sidrapy.get_table(
    table_code='5938',
    territorial_level='3',
    variable='37',
    ibge_territorial_code='all',
    period='all'
    
    
)
df_sem_tratamento.head()

,NC,NN,MC,MN,V,D1C,D1N,D2C,D2N,D3C,D3N
0,Nível Territorial (Código),Nível Territorial,Unidade de Medida (Código),Unidade de Medida,Valor,Unidade da Federação (Código),Unidade da Federação,Ano (Código),Ano,Variável (Código),Variável
1,3,Unidade da Federação,40,Mil Reais,7467630,11,Rondônia,2002,2002,37,Produto Interno Bruto a preços correntes
2,3,Unidade da Federação,40,Mil Reais,9425010,11,Rondônia,2003,2003,37,Produto Interno Bruto a preços correntes
3,3,Unidade da Federação,40,Mil Reais,11004641,11,Rondônia,2004,2004,37,Produto Interno Bruto a preços correntes
4,3,Unidade da Federação,40,Mil Reais,12511821,11,Rondônia,2005,2005,37,Produto Interno Bruto a preços correntes

In [39]:
df_sem_tratamento.columns = df_sem_tratamento.iloc[0]
df_sem_tratamento.head()

,Nível Territorial (Código),Nível Territorial,Unidade de Medida (Código),Unidade de Medida,Valor,Unidade da Federação (Código),Unidade da Federação,Ano (Código),Ano,Variável (Código),Variável
0,Nível Territorial (Código),Nível Territorial,Unidade de Medida (Código),Unidade de Medida,Valor,Unidade da Federação (Código),Unidade da Federação,Ano (Código),Ano,Variável (Código),Variável
1,3,Unidade da Federação,40,Mil Reais,7467630,11,Rondônia,2002,2002,37,Produto Interno Bruto a preços correntes
2,3,Unidade da Federação,40,Mil Reais,9425010,11,Rondônia,2003,2003,37,Produto Interno Bruto a preços correntes
3,3,Unidade da Federação,40,Mil Reais,11004641,11,Rondônia,2004,2004,37,Produto Interno Bruto a preços correntes
4,3,Unidade da Federação,40,Mil Reais,12511821,11,Rondônia,2005,2005,37,Produto Interno Bruto a preços correntes

In [40]:
df_sem_tratamento = df_sem_tratamento.iloc[1:]
df_sem_tratamento.head()

,Nível Territorial (Código),Nível Territorial,Unidade de Medida (Código),Unidade de Medida,Valor,Unidade da Federação (Código),Unidade da Federação,Ano (Código),Ano,Variável (Código),Variável
1,3,Unidade da Federação,40,Mil Reais,7467630,11,Rondônia,2002,2002,37,Produto Interno Bruto a preços correntes
2,3,Unidade da Federação,40,Mil Reais,9425010,11,Rondônia,2003,2003,37,Produto Interno Bruto a preços correntes
3,3,Unidade da Federação,40,Mil Reais,11004641,11,Rondônia,2004,2004,37,Produto Interno Bruto a preços correntes
4,3,Unidade da Federação,40,Mil Reais,12511821,11,Rondônia,2005,2005,37,Produto Interno Bruto a preços correntes
5,3,Unidade da Federação,40,Mil Reais,13054713,11,Rondônia,2006,2006,37,Produto Interno Bruto a preços correntes

In [34]:
população_residente = df_sem_tratamento.pivot_table(
    index='Unidade da Federação',
    columns='Variável',
    values='Valor',
    aggfunc='sum'
).reset_index()
população_residente.head()

Variável Unidade da Federação Produto Interno Bruto a preços correntes
0                        Acre                                 21374440
1                     Alagoas                                 76265620
2                       Amapá                                 20099851
3                    Amazonas                                131531038
4                       Bahia                                352617852

soma total do PIB por ano

In [41]:
soma = df_sem_tratamento.groupby('Ano')['Valor'].sum()
display(soma)

Ano
2002    7467630297130122093338239203326482159317334353...
2003    9425010337723425862134259408130270152341319566...
2004    1100464137840033109069628227573727272638247407...
2005    1251182143005813398087731934304052289343064107...
2006    1305471346618073993321338024524598302752808228...
2007    1443837654581724347977342033025184687660125231...
2008    1728554264102554811526548418626095697869504131...
2009    1972501074078215055984056719756166509674906561...
2010    2390788783423566087712366391508268451882377951...
2011    2757471489494347073440173037199871073694092281...
2012    3011272010137925722427017711467107080881111308...
2013    3112141311473930830512339010725121224847127634...
2014    3403098213458698866686449744122124584945134002...
2015    3656333313622802865681841024290513089950513861...
2016    3946035913754240890397821101323713810751414342...
2017    4351614714272941932401911210470915523240415481...
2018    4491397815331123100109235133699881613496021679...
2019    4709133615630017108181091142922271783769841749...
2020    5159874116476371116019139160242762159356041846...
2021    5817009621374440131531038182025792629049792009...
Name: Valor, dtype: object

soma total do PIB por estados

In [60]:
soma_estado = df_sem_tratamento.groupby('Unidade da Federação')['Valor'].sum().sort_values(ascending=False)
display(soma_estado)

Unidade da Federação
São Paulo             30,055,665,519
Rio de Janeiro        10,341,232,789
Minas Gerais           8,293,376,665
Rio Grande do Sul      5,885,972,281
Paraná                 5,728,505,859
Santa Catarina         3,878,211,906
Bahia                  3,698,822,671
Distrito Federal       3,281,136,593
Goiás                  2,625,814,165
Pernambuco             2,374,092,055
Pará                   2,132,092,426
Ceará                  1,963,640,437
Espírito Santo         1,897,123,744
Mato Grosso            1,729,774,343
Amazonas               1,393,377,898
Mato Grosso do Sul     1,280,559,727
Maranhão               1,206,251,781
Rio Grande do Norte      875,128,966
Paraíba                  831,867,046
Alagoas                  710,631,974
Piauí                    593,268,396
Sergipe                  590,911,049
Rondônia                 572,974,449
Tocantins                442,045,319
Amapá                    211,939,933
Acre                     201,195,451
Roraima                  165,180,996
Name: Valor, dtype: float64

In [48]:
# Converte para número — trata casos com vírgula e ponto
df_sem_tratamento['Valor'] = (
    df_sem_tratamento['Valor']
    .astype(str)
    .str.replace('.', '', regex=False)     
    .str.replace(',', '.', regex=False)   
    .astype(float)                         
)

In [57]:
pd.options.display.float_format = '{:,.0f}'.format

 PIB médio por estado

In [58]:
PIB_medio = df_sem_tratamento.groupby('Unidade da Federação')['Valor'].mean()
display(PIB_medio)

Unidade da Federação
Acre                     10,059,773
Alagoas                  35,531,599
Amapá                    10,596,997
Amazonas                 69,668,895
Bahia                   184,941,134
Ceará                    98,182,022
Distrito Federal        164,056,830
Espírito Santo           94,856,187
Goiás                   131,290,708
Maranhão                 60,312,589
Mato Grosso              86,488,717
Mato Grosso do Sul       64,027,986
Minas Gerais            414,668,833
Paraná                  286,425,293
Paraíba                  41,593,352
Pará                    106,604,621
Pernambuco              118,704,603
Piauí                    29,663,420
Rio Grande do Norte      43,756,448
Rio Grande do Sul       294,298,614
Rio de Janeiro          517,061,639
Rondônia                 28,648,722
Roraima                   8,259,050
Santa Catarina          193,910,595
Sergipe                  29,545,552
São Paulo             1,502,783,276
Tocantins                22,102,266
Name: Valor, dtype: float64

PIB por estado e ano

In [59]:
df_pivot = df_sem_tratamento.pivot_table(values='Valor', index='Unidade da Federação', columns='Ano', aggfunc='sum')
display(df_pivot)

Ano,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
Unidade da Federação,,,,,,,,,,,,,,,,,,,,
Acre,"2,971,301","3,377,234","3,784,003","4,300,581","4,661,807","5,458,172","6,410,255","7,407,821","8,342,356","8,949,434","10,137,925","11,473,930","13,458,698","13,622,802","13,754,240","14,272,941","15,331,123","15,630,017","16,476,371","21,374,440"
Alagoas,"11,536,853","12,624,030","14,044,907","15,484,521","17,395,671","19,871,266","22,262,295","24,182,388","27,133,038","31,657,321","34,650,397","37,282,529","40,974,994","46,367,211","49,468,741","52,851,067","54,413,047","58,963,729","63,202,349","76,265,620"
Amapá,"3,173,343","3,413,195","3,824,740","4,306,410","5,280,822","6,012,523","6,950,413","7,490,656","8,237,795","9,409,228","11,130,868","12,763,486","13,400,284","13,861,293","14,342,135","15,481,908","16,795,207","17,496,661","18,469,115","20,099,851"
Amazonas,"22,093,338","25,862,134","31,090,696","33,980,877","39,933,213","43,479,773","48,115,265","50,559,840","60,877,123","70,734,401","72,242,701","83,051,233","86,668,644","86,568,184","89,039,782","93,240,191","100,109,235","108,181,091","116,019,139","131,531,038"
Bahia,"58,842,976","67,174,227","77,931,725","88,291,883","95,347,802","109,329,528","121,667,455","137,942,481","154,419,547","166,602,817","182,572,530","204,844,274","223,929,966","245,043,690","258,738,970","268,724,090","286,239,541","293,240,504","305,320,813","352,617,852"
Ceará,"28,718,840","32,687,418","36,890,816","41,059,459","46,500,321","50,818,749","60,415,574","67,199,958","79,336,299","89,695,828","96,973,753","109,036,556","126,054,472","130,629,849","138,422,521","147,921,534","155,903,825","163,575,327","166,914,536","194,884,802"
Distrito Federal,"53,902,200","58,456,124","67,076,505","75,732,681","84,661,406","93,404,001","110,299,557","124,323,753","144,174,102","154,568,954","164,101,336","175,906,726","197,432,059","215,612,863","235,540,045","244,722,249","254,817,205","273,613,711","265,847,334","286,943,782"
Espírito Santo,"27,048,997","31,519,106","39,732,638","47,020,588","53,463,868","60,658,395","72,091,158","69,215,361","85,310,285","105,976,222","116,850,581","117,274,347","128,783,781","120,365,980","109,264,423","113,399,937","137,020,055","137,345,595","138,445,922","186,336,505"
Goiás,"38,629,365","45,557,889","51,103,815","53,865,113","61,375,403","71,410,568","82,417,564","92,865,743","106,770,109","121,296,721","138,757,825","151,300,175","165,015,318","173,632,450","181,759,604","191,948,301","195,681,724","208,672,492","224,126,112","269,627,874"
Maranhão,"15,924,003","19,502,900","22,127,132","25,104,209","29,710,643","30,730,866","37,932,402","40,994,571","46,309,633","52,143,535","60,490,109","67,694,845","76,842,028","78,475,994","85,310,038","89,542,757","98,179,496","97,339,938","106,915,962","124,980,720"
Mato Grosso,"19,190,653","26,697,097","33,388,670","34,257,055","30,700,165","38,027,578","49,202,505","52,693,417","56,600,955","69,153,957","79,665,691","89,212,919","101,234,520","107,418,319","123,880,296","126,845,898","137,442,853","142,122,028","178,649,564","233,390,203"
Mato Grosso do Sul,"16,440,424","21,846,566","23,372,308","23,725,258","26,667,894","30,084,765","36,219,263","39,517,742","47,270,656","55,133,162","62,013,201","69,203,201","78,950,133","83,082,555","91,892,285","96,396,434","106,969,142","106,943,246","122,627,726","142,203,766"
Minas Gerais,"124,071,066","144,189,094","171,870,934","188,364,436","212,659,547","240,355,239","278,607,619","287,443,848","351,123,418","400,124,687","442,282,830","488,004,903","516,633,984","519,331,213","544,810,468","576,375,545","614,875,820","651,872,684","682,786,116","857,593,214"
Paraná,"88,235,715","110,039,414","123,451,530","127,464,507","137,648,311","165,208,891","185,683,859","196,675,612","225,205,255","257,122,269","285,620,202","333,481,152","348,084,191","376,962,822","401,814,164","421,497,870","440,029,403","466,377,036","487,930,594","549,973,062"
Paraíba,"12,747,021","14,737,920","15,757,832","17,557,226","20,838,016","22,909,811","26,889,573","30,230,406","33,522,492","37,109,137","42,488,349","46,377,299","52,936,483","56,141,890","59,104,781","62,396,776","64,373,595","67,986,074","70,292,034","77,470,331"
Pará,"26,482,159","30,270,152","37,272,726","40,522,893","45,983,027","51,846,876","60,956,978","61,665,096","82,684,518","98,710,736","107,080,881","121,224,847","124,584,945","130,899,505","138,107,514","155,232,404","161,349,602","178,376,984","215,935,604","262,904,979"
Pernambuco,"36,056,032","38,815,845","44,982,684","50,240,325","55,485,293","62,459,325","70,413,939","79,760,958","97,189,760","110,161,559","127,989,043","141,150,252","155,142,648","156,963,668","167,345,031","181,609,501","186,351,975","197,853,378","193,307,317","220,813,522"
Piauí,"7,122,635","8,414,901","9,406,461","10,711,834","13,360,478","13,736,085","16,203,340","18,946,449","22,269,149","25,941,362","28,637,685","31,283,593","37,723,497","39,149,686","41,416,937","45,365,541","50,378,418","52,780,785","56,391,257","64,028,303"
Rio Grande do Norte,"13,566,803","14,865,441","17,252,398","19,966,918","22,890,124","26,318,259","28,898,860","30,941,054","36,184,502","40,992,925","46,412,208","51,518,457","54,022,584","57,250,867","59,677,389","64,305,995","66,969,562","71,336,780","71,577,107","80,180,733"
Rio Grande do Sul,"98,847,211","119,325,399","131,192,206","136,362,769","147,622,599","168,009,752","190,229,822","204,344,940","241,249,164","265,056,416","287,587,019","332,292,726","357,816,424","381,992,601","408,789,528","423,270,047","457,293,958","482,464,177","470,941,846","581,283,677"
Rio de Janeiro,"184,310,915","202,640,789","241,206,738","269,830,061","299,738,183","323,698,286","378,285,800","391,650,854","449,858,101","512,767,905","574,884,973","628,226,069","671,076,844","659,138,952","640,401,206","671,605,668","758,859,047","779,927,917","753,823,711","949,300,770"
Rondônia,"7,467,630","9,425,010","11,004,641","12,511,821","13,054,713","14,438,376","17,285,542","19,725,010","23,907,887","27,574,714","30,112,720","31,121,413","34,030,982","36,563,333","39,460,359","43,516,147","44,913,978","47,091,336","51,598,741","58,170,096"
Roraima,"2,392,033","2,594,081","2,822,757","3,193,430","3,802,452","4,203,302","4,841,862","5,671,975","6,639,150","7,303,719","7,711,467","9,010,725","9,744,122","10,242,905","11,013,237","12,104,709","13,369,988","14,292,227","16,024,276","18,202,579"
Santa Catarina,"54,481,893","64,098,475","73,618,966","81,549,244","91,063,449","103,728,092","121,477,258","129,098,535","153,726,007","174,068,322","191,794,652","214,512,242","242,553,371","249,079,642","256,754,669","277,270,237","298,227,090","323,263,857","349,275,016","428,570,889"
Sergipe,"10,332,494","11,749,574","13,336,258","14,430,118","16,419,798","18,218,450","21,418,378","21,707,243","26,404,893","29,108,272","32,853,181","35,335,986","37,472,432","38,556,530","38,877,438","40,711,486","42,017,981","44,689,483","45,409,657","51,861,397"
São Paulo,"518,878,815","591,454,032","652,955,558","743,042,944","824,529,299","935,653,180","1,042,510,168","1,127,093,826","1,294,695,988","1,436,672,709","1,559,033,444","1,715,238,417","1,858,196,055","1,939,901,907","2,038,757,382","2,120,761,635","2,210,561,949","2,348,338,000","2,377,638,980","2,719,751,231"
Tocantins,"5,322,563","6,612,339","7,251,580","7,707,340","8,655,613","10,192,844","12,116,393","13,689,804","16,404,816","18,345,688","20,684,430","23,796,656","26,189,323","28,930,291","31,584,816","34,108,132","35,666,183","39,355,941","43,649,803","51,780,764"

In [43]:
df_sem_tratamento.describe()

,Nível Territorial (Código),Nível Territorial,Unidade de Medida (Código),Unidade de Medida,Valor,Unidade da Federação (Código),Unidade da Federação,Ano (Código),Ano,Variável (Código),Variável
count,540,540,540,540,540,540,540,540,540,540,540
unique,1,1,1,1,540,27,27,20,20,1,1
top,3,Unidade da Federação,40,Mil Reais,286943782,11,Rondônia,2002,2002,37,Produto Interno Bruto a preços correntes
freq,540,540,540,540,1,20,20,27,27,540,540

In [51]:
df_sem_tratamento.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 540 entries, 1 to 540
Data columns (total 11 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Nível Territorial (Código)     540 non-null    object
 1   Nível Territorial              540 non-null    object
 2   Unidade de Medida (Código)     540 non-null    object
 3   Unidade de Medida              540 non-null    object
 4   Valor                          540 non-null    float64
 5   Unidade da Federação (Código)  540 non-null    object
 6   Unidade da Federação           540 non-null    object
 7   Ano (Código)                   540 non-null    object
 8   Ano                            540 non-null    object
 9   Variável (Código)              540 non-null    object
 10  Variável                       540 non-null    object
dtypes: float64(1), object(10)
memory usage: 46.5+ KB